body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: #e6e6e6;
    position: relative;
    overflow-x: hidden;
}

/* Animated background gradient */
.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(45deg, #282c34, #4a0000, #8b0000);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

/* Keyframes for background gradient animation */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Section styling */
section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Heading styles */
h1, h2 {
    color: #ff8080;
    margin-bottom: 15px;
    text-shadow: 0 0 1px #ff8080;
}

/* Custom button styles */
.btn-custom {
    background-color: #3b4048;
    color: #e6e6e6;
    border: none;
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #8b0000;
    color: #ffffff;
}

/* Header gradient background */
.gradient-header {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    color: #ffffff;
}

/* Profile picture styles */
.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Paragraph and list item styles */
p, li {
    font-size: 16px;
}

/* Typing animation container */
.typing-container {
    max-width: 100%;
    overflow: hidden;
}

/* Update this section */
h1 {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 1px #ff8080;
}

/* In the media query, update this part */
@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        flex-basis: calc(50% - 10px);
    }

    #community {
        flex-basis: 100%;
    }

    #contact, #projects {
        flex-basis: calc(50% - 10px);
    }
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e2127;
}

::-webkit-scrollbar-thumb {
    background: #4a0000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b0000;
}

/* Custom scrollbar styles for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4a0000 #1e2127;
}

/* Footer styles */
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    color: #e6e6e6;
}

/* Discord widget styles */
.discord-widget {
    overflow: hidden;
    border-radius: 10px;
}